<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center"><i class="far fa-list-alt"></i> Todo List</h1>

            <div class="card">
                <div class="card-header">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="What needs to be done ?" (keyup)="addItem($event)">
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li *ngFor="let item of todoArray, let itemIndex = index" class="list-group-item d-flex justify-content-between">

                        <app-checkbox [label]="item.title" [(checked)]="item.checked"></app-checkbox>

                        <button class="btn btn-outline-danger btn-sm" (click)="removeItem(itemIndex)">x</button>
                    </li>
                </ul>
                <div class="card-footer d-flex justify-content-between">
                    <app-array-size [array]="todoArray"></app-array-size>
                    <div>{{ todoArray.length }} items</div>

                    <button  *ngIf="atLeastOneChecked" class="btn" (click)="clearCompletedItem()">Clear completed</button>
                </div>
              </div>
        </div>
    </div>
</div>

<a [routerLink]="'/'">Bar</a>
<a [routerLink]="'blabla'">Foo</a>

<router-outlet></router-outlet>