<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center">Todos</h1>
            <div class="card">
                <div class="card-header">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="What needs to be done ?" (keyup)="addItem($event)">
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li *ngFor="let item of todoArray, let itemIndex = index" class="list-group-item d-flex justify-content-between">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" [attr.id]="'todo-' + itemIndex" [(ngModel)]="item.checked">
                            <label class="form-check-label" [attr.for]="'todo-' + itemIndex">
                                {{ item.title }}
                            </label>
                        </div>
                        <button class="btn btn-outline-danger btn-sm" (click)="removeItem(itemIndex)">x</button>
                    </li>
                </ul>
                <div class="card-footer d-flex justify-content-between">
                    <div>{{ todoArray.length }} items</div>
                    <button class="btn btn-sm btn-link">Clear completed</button>
                </div>
              </div>
        </div>
    </div>
</div>